*{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

/*
Styling for the header 
*/
body{
    background-color: white; 
}
h1{
    color : black;

    font-size: 50px;
    margin-top : 50px; 
    margin-bottom : 15px; 
}

button{
    padding-bottom : 15px; 
    text-align: center;
    border-radius: 15px;
    height : 30px; 
    width : 100px; 
    font-size: 20px;
    background-color: cornsilk;
    /* background-color: #a59c76; */
    
}

#diffSection 
{margin-bottom: 20px;}
hr{margin-bottom: 50px;}


/*
styling for the gameTable
*/
table{
    border-collapse: collapse;
    
}
tbody{
    border-collapse: collapse;
    border-style: solid;
    border-color: gray;
    border-width: 5px;
}


td {
    height: 24px;
    width: max-content; 
}

img{
    display : block ; 
}

/*
Styling for timer section 
*/
#timerSection{
    display : none; 
    background-color: rgb(180, 175, 175);
    margin :auto; 
    width : 216px; 
    border-style: solid;
    border-color: gray;
}

#bombCount{
    width :max-content;
    float :left; 
    margin : 10px;
}

#timer{
    width : max-content; 
    float : right; 
    margin : 10px; 
}

#resetButtonSection{
    width : max-content; 
    margin : auto; 
}

#resetButtonImgContainer{
    margin-top: 10px;
    margin-bottom: 10px;
}

#bombCountImgs #timerImgs{
    margin :auto; 
}

.numImgDiv{
    float :left; 
}

.numImg{
    height : 35px; 
    width : 20px; 
}
